body {
    color: #234766!important;
}

.checkout {

    .container-checkout {
        padding: 20px;
        max-width: 1140px;
        margin: auto;
        display: flex;
    }

    .inf-user {
        width: 50%;
        padding-right: 40px;
    }

    .inf-order {
        width: 50%;
        padding-left: 40px;
    }

    .check {
        height: 14px;
        width: unset;
        margin: 0 0 0 10px;
    }

    .group {
        display: flex;
        gap: 20px;
    }

    .m-bt {
        margin-bottom: 20px;
    }

    .name-user {
        width: 50%;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .list-order {
        border: 1px solid #234766;
        border-radius: 5px;
        padding: 20px;
    }

    .item-order {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        gap: 20px;

        .image {
            position: relative;
        }

        .qty {
            align-items: center;
            background-color: #234766;
            border-radius: 50%;
            font-size: 10px;
            color: #fff;
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 95%;
            top: 5%;
        }

        img {
            object-fit: contain;
            width: 64px;
            height: 64px;
            display: block;
            border: 1px solid #54add3;
            border-radius: 5px;
        }

        .name-product {
            font-weight: bold;
            width: calc(100% - 254px);
        }

        .amount-price {
            display: flex;
            justify-content: end;
            width: 150px;
        }
    }

    .line {
        border-top: 1px solid #234766;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }

    .total {
        font-size: 20px;
        font-weight: bold;
    }

    span {
        font-weight: bold;
    }

    .checkbox {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        gap: 10px;
    }

    .btn-order {
        margin: auto;
        align-items: center;
        border: none;
        padding: 7px 25px;
        display: flex;
        justify-content: center;
        max-width: 100%;
        background-color: #54add3;
        color: #ffffff;
        font-size: 17.5px;
        text-transform: uppercase;
        height: 40px;
    }

    .cart-empty {
        max-width: 1280px;
        margin: 30px auto 0;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    label {
        display: block;
        margin-bottom: 10px;

        em {
            color: red;
        }
    }

    input {
        border-radius: 5px;
        padding: 0 10px;
        display: block;
        height: 40px;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #234766;
        margin-bottom: 20px;
    }
}

.result {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    padding: 0 16px;
    margin: auto;
    font-weight: bold;
    box-sizing: border-box;

    .container-result {
        padding-top: 30px;
        width: 90%;
    }

    .notification {
        margin-bottom: 20px;
    }

    a {
        color: #54add3;
    }
}
