.error-alert {
    width: 100%;
    font-weight: bold;
    background-color: rgba(84, 173, 211, 0.5);
    padding: 10px;
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}

.section-header {
    max-width: 1280px;
    margin: auto;
    padding: 0 8px;

    .header-wrap {
        padding: 0 8px;

        form {
            display: flex;
        }

        input {
            border-radius: 5px;
            margin: 0;
            height: 30px;
        }

        button {
            margin-left: 10px;
            line-height: unset;
            border: unset;
            padding: unset;
            background-color: unset;
        }
    }

    .search-mobile {
        display: none;
        margin-bottom: 10px;

        button {
            margin: 0;
            background: #54add3;
            padding: 0 10px;
        }
    }

    .container-header {
        display: flex;
        padding: 26px 35px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .img-logo {
        width: 206px;
    }

    .list-icon {
        display: flex;
    }

    .icon {
        margin-left: 20px;
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .nav-toggle {
        display: none;
    }

    .show-nav {
        opacity: 0.9!important;
        transform: translate(0)!important;
    }

    .nav-close {
        display: none;
        justify-content: end;
    }

    #hide-nav-mobile {
        color: #ffffff;
        height: 50px;
        width: 50px;
    }

    .header-menu {
        width: 70%;
        font-size: 22.5px;
        text-transform: uppercase;

        .header-icon {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .header-shipping {
            text-decoration: unset;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #979797;
        }

        .header-nav {
            width: 100%;
            margin-top: 15px;
            position: relative;
        }

        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .li-nav-dropdown:before {
            background: #54add3;
            content: "";
            display: block;
            height: 5px;
            left: -5px;
            position: absolute;
            right: 0;
            top: 44px;
            width: calc(100% + 10px);
            z-index: 5;
        }

        .li-nav:hover {
            .nav-dropdown{
                display: block;
            }
        }

        .site-nav-link:hover {
            color: #54add3;
        }

        .nav-dropdown{
            z-index: 4;
            display: none;
            padding-top: 10px;
            position: absolute;
            width: 40%;
            color: #ffffff;
        }

        .ul-nav-dropdown {
            background-color: #234766;
        }

        .li-nav-dropdown {
            padding: 10px 10px;
        }

        .title-nav-sub {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .ul-nav-sub .item-nav-sub:first-child {
            margin-top: 5px;
            text-transform: capitalize;
        }

        .item-nav-sub {
            font-size: 17.5px;
            margin-top: 10px;
        }

        .item-nav-sub:hover {
            color: #54add3;
        }
    }

    .mobile {
        display: none;
    }

    .account {
        transition: transform 1s ease;
        transform: translate(100%);
        position: fixed;
        z-index: 1000;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .background-account-close {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        .container-account {
            padding: 20px;
            transition: transform 0.5s ease;
            transform: translate(100%);
            position: absolute;
            right: 0;
            height: 100%;
            width: 100%;
            max-width: 370px;
            background-color: #ffffff;
        }

        #close-account {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .show-account {
        overflow: hidden;
        transform: translate(0)!important;
        transition: transform 0s ease!important;
        .background-account-close {
            background-color: #234766;
        }
        .container-account {
            transform: translate(0)!important;
        }
    }

    label {
        display: block;
        width: 100%;
        margin-bottom: 10px;

        em {
            color: red;
        }
    }

    input {
        padding: 0 10px;
        display: block;
        height: 40px;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #234766;
        margin-bottom: 20px;
    }

    .login-account {
        .title-login {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .form-login {
            padding-top: 10px;
        }

        .error-alert {
            color: red;
            font-size: 13px;
        }

        .button-login, .btn-creat-account, .button-logout {
            text-align: center;
            box-sizing: border-box;
            display: block;
            width: 100%;
            color: #ffffff;
            background: #54add3;
            border: unset;
            font-size: 17.5px;
            font-weight: 400;
            padding: 10px 30px;
            text-transform: uppercase;
        }

        .button-login:hover {
            background: #234766;
        }

        .forgot-account {
            display: block;
            text-align: center;
            font-size: 14px;
            margin: 10px 0;
        }

        .btn-creat-account {
            background: #234766;
        }

        .btn-creat-account:hover {
            background: #54add3;
        }

        .save-pass {
            font-size: 14px;
            display: flex;
            align-items: center;
        }

        #save-pass {
            height: 14px;
            width: unset;
            margin: 0 0 0 10px;
        }

        .user-name {
            font-weight: bold;
            padding: 20px;
            text-align: center;
            text-transform: uppercase;
        }

        .my-account {
            margin: 20px 0;
            text-align: center;
            display: block;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .section-header {

        .container-header {
            flex-direction: row-reverse;
            padding: 18px 0;
        }

        .search-mobile {
            display: block;
        }

        .mobile {
            display: flex;
            width: 20%;
            justify-content: flex-end;
            gap: 20px;
        }

        .img-logo {
            width: 145px;
        }

        .list-icon {
            width: 20%;
        }

        .icon {
            margin: 0;
        }

        .nav-toggle {
            display: block;
        }

        .nav-close {
            display: flex;
        }

        .header-menu {
            width: 20%;

            .header-nav {
                margin-top: 0;
            }
            .header-icon {
                display: none;
            }

            .nav {
                transition: transform .5s ease,opacity .5s ease;
                transform: translate(-100%);
                position: fixed;
                width: 100%;
                right: 0;
                top: 0;
                height: 100vh;
                z-index: 1000;
                background: #234766;
                opacity: 0;
                padding: 20px;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: unset;
            }

            .li-nav {
                color: #ffffff;
                margin-bottom: 10px;
            }

            .nav-dropdown {
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }

}
